.rubric-button-not-selected{
  background-color: gray;
  border: none;
  color: white;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}
.description-td{
  width:20%;
  
}
.button-td{
  display: flex;
  width:80%;
  margin-left: 50px;
}
.grade-td{
  width:2%;
}
.comment-td{
  width:30%;

}
.comment-input{
  height: 110px;
  line-height: 20px;
  width: 100%;
  word-wrap: break-word;
  vertical-align: top;
/* 
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  border: 1px solid gray;
  font: medium -moz-fixed;
  font: -webkit-small-control;
  height: 28px;
  overflow: auto;
  padding: 2px;
  resize: both;
  width: 400px; */
 



}

.rubric-button-yes-selected{
  background-color: lightgreen;
  display:inline-block;
  flex: 1;
 
}

.name {
  
    color: #999999;
    font-family: arial, sans-serif;
    font-size: 45px;
    font-weight: bold;
   
    
}

.button {
  
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  margin: 10px;
}


.item1{ 
  grid-area: header; 
  height: 100px;
  
}
.item2{
  grid-area: menu;
  
}
.item3{ 
  grid-area: main; 
  
}
.item4{ 
  grid-area: right; 
}
.item5{ 
  grid-area: footer;
  
}


.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: gray;  
  padding: 10px;
  grid-auto-rows: minmax(30px, auto);
  /*height: 300px;*/
  justify-content: end;
  /*grid-template-columns: 50px 50px 50px, 50px;*/
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-content: center;
  /*margin-bottom: 100px;*/
  
  
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  display: inline-block;
}



.grid-container_2 {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 30px;
  background-color: darkgray;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, 200px);
  /*height: 200px;*/
  
}

.grid-container_2 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.cont{
  height: 20px;

}

.des{

  
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr{


}