.rubric-button-not-selected{
  background-color: gray;
  border: none;
  color: white;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 4px;

    
}


.rubric-button-yes-selected{
  background-color: lightgreen;
  display:inline-block;
  flex: 1;
    
}




table {
  border-collapse: collapse;
  width: 95%;
  margin: 10px;
  margin-left: 20px;
  
  
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}


tr{

 height: 10px;
 
 

}


.description-td{
  width:20%;
  height: 20px;
}
.button-td{
  display: flex;
  width:80%;
  margin-left: 50px;
  max-height: 80px;
  
  /*padding:0px; 
  margin:0px;*/

}
.grade-td{
  width:10%;
}
.comment-td{
  width:20%;

}
.comment-input{
  height: 55px;
  line-height: 20px;
  width: 90%;
  word-wrap: break-word;
  vertical-align: top;
}


.name {
  
    color: #999999;
    font-family: arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
   
    
}



.overall_grade-td, .overall_comment-td, .grouping-status-td{

  
  padding-top: 35px;
  padding-bottom: 50px;

}

.grouping-status-td{

  padding: 10px;
}

.grouping-status-top{

/*padding: 20px;*/
padding-left: 10px;
padding-top: 40px;
padding-bottom: 10px;
}

.back-button{

  /*float: left;*/
  /*margin-top: 10px;*/
  padding-left: 10px;
  padding-top: 1px;
}


.assignment-name{

text-align: center;


}